* {
    box-sizing: border-box;
}
body {
    background-color: #2ec1ac;
    font-family: 'Recursive', sans-serif;
    display: flex;
}
.container {
    height: 100vh;
    width: 90%;
    background-color: white;
    border: 1px solid transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 50px;
}
nav {
    height: 100vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.logout {
    padding-bottom: 30px;
}
#icons, #icon-logout {
    height: 45px;
    width: 45px;
}
.tabs {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bubble {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: -2;
    background: rgba(255, 255, 255, 0.377);
    transform: scale(2);
    transition: all 0.3s ease;
}
.bar {
    position: absolute;
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -2;
    background: rgba(255, 255, 255, 0.377);
    transform: scale(2);
    transition: all 0.3s ease;
}
hr {
    width: 70%;
    border: none;
    border-top: 1px solid #fff;
}