body {
    background: linear-gradient(127deg, rgba(29,219,135,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(217deg, rgba(129,178,20,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(90deg, rgba(29,219,135,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(45deg, rgba(84,227,70,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(32,106,93,.8), rgba(0,0,255,0) 70.71%);
    font-family: 'Recursive', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        display: none;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
}
#icon {
    height: 50px;
    width: 50px;

}
.container {
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}
.login-signup-forgot {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 5px;
}
#signin, #signup {
    margin-right: 5px;
}
#signin {
    color: #fff;
}
#forgot, #signup {
    color: #0a6155;
    /* color: #d2e603; */
}
.inputs {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs input {
    width: 100%;
    height: 13%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    animation: slide-up 0.5s ease;
}
.inputs input:focus {
    outline: none;
}
.inputs button {
    width: 104%;
    height: 13%;
    border: none;
    border-radius: 5px;
    background-color: #0a6155;
    color: #fff;
    animation: slide-up 0.5s ease;
}
.inputs button:hover {
    background-color: #0a6155bd;
    cursor: pointer;
}
.inputs button:focus {
    outline: none;
}
.arrow-up {
    position: absolute;
    top: 37%;
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 15px solid white;
}
.point-signin {
    transform: translateX(-150px);
    transition: all 0.3s ease;
}
.point-signup {
    transform: translateX(-80px);
    transition: all 0.3s ease;
}
.point-forgot {
    transform: translateX(150px);
    transition: all 0.3s ease;
}
#signin:hover, #signup:hover, #forgot:hover {
    cursor: pointer;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}